@import url(color.css);
@import url(card.css);
@import url(menu_hambuguer.css);
@import url(card_comentario.css);
@import url(serviço.css);
@import url(localização.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right,#000000 60%, #0000008f 90%), url(../image/DreamShaper_v7_barbearia_backgraund_realist_1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container h2{
  color: white;
}

.container p{
  color: white;
}

.localizacao h2{
  color: white;
}

.localizacao p{
  color: white;
}

.comentario h2{
  color: white;
}
.comentario p {
  color: white;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline;
  margin-left: 20px;
}

header nav a {
  text-decoration: none;
  color: #fff;
}

header nav a:hover {
  border-bottom: 2px solid #fff;
}

main {
  padding: 20px 0;
}

section {
  padding: 40px 0;
}

section h2 {
  font-size: 2em;
}

section ul {
  list-style: disc;
  padding-left: 20px;
}

.gallery img {
  width: 200px;
  margin-right: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #fff;
}

footer a:hover {
  border-bottom: 1px solid #fff;
}

.funcionarios {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  display: flex;
  justify-content: center;
}

.funcionarios h2 {
  color: white;
  text-align: center;
  margin-top: 0;
}




/* .card{
  width: 12em;
  height: 22em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  overflow: hidden;
  border-radius: 0.3em;
  background-color: var(--light);
  box-shadow: 1px 1px 5px 1px var(--black) ;
} */
/* .container{
  height: 22em;
  display: flex;
  gap: 1em;
}
.imagem {
  max-width: 5em;
  width: 5em;
  margin-bottom: 0.8em 0;
}

.descricao{
  text-indent: 1.5em;
  font-size: 12px;
  margin-bottom: -0.8em;
}

.preco{
  font-size: 30px; }*/